.hero {
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  &::before {
    position: absolute;
    top: -164px;
    right: 0;
    z-index: -1;
    display: block;
    max-width: 630px;
    width: 100%;
    height: 630px;
    background-image: url(/img/circle.png);
    background-repeat: no-repeat;
    background-size: 630px;
    content: "";
  }
}

.hero__image {
  margin-left: auto;
  margin-right: 95px;
}

.hero__heading {
  @include common-heading(72px, 72px);
  margin-bottom: 21px;
  max-width: 532px;
}

.hero__input {
  max-width: 445px;
  width: 100%;
  padding: 16px 27px;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  outline: none;
  &::placeholder {
    font-family: "Public sans", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: $headingColor;
    opacity: 0.5;
  }
}

.hero__button {
  @include button;
  position: absolute;
  transform: translate(-100%);
}

.hero__text {
  margin-left: 27px;
  margin-bottom: 0;
  line-height: 18px;
  color: $textColor;
}

.hero__link {
  color: $headingColor;
  text-decoration: none;
}

@media only screen and(max-width: 945px) {
  .hero__image {
    margin-right: 0;
  }
}

@media only screen and(max-width: 850px) {
  .hero .container {
    flex-direction: column;
    position: relative;
  }

  .hero__image {
    position: absolute;
    top: 0;
    margin: 0 auto;
  }

  .hero__info {
    padding-top: 550px;
    text-align: center;
  }
}

@media only screen and(max-width: 768px) {
  .hero__image {
    width: 159px;
    height: 300px;
  }

  .hero__info {
    padding-top: 380px;
  }

  .hero__heading {
    @include common-heading(48px, 56px);
    max-width: 530px;
    margin-bottom: 22px;
  }
}

@media only screen and(max-width: 425px) {
  .hero__info {
    padding-top: 295px;
  }

  .hero__heading {
    @include common-heading(32px, 36px);
    max-width: 327px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
  }

  .hero__image {
    width: 127px;
    height: 240px;
  }

  .hero__input {
    max-width: 327px;
    width: 100%;
    margin-bottom: 16px;
  }

  .hero__button {
    position: static;
    max-width: 327px;
    width: 100%;
    transform: translate(0);
  }
}
