.partner {
  padding: 100px 0;
  background-color: $bgColor;
  margin-bottom: 150px;
}

.partner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.partner__info {
  max-width: 445px;
}

.partner__heading {
  @include common-heading($color: $nearWhite);
  margin-bottom: 24px;
}

.partner__text {
  margin-top: 0;
  margin-bottom: 32px;
  color: $nearWhite;
  opacity: 0.7;
}

.partner__link {
    display: inline-block;
  width: 129px;
  padding: 14px;
  text-align: center;
  color: $nearWhite;
  text-decoration: none;
  border: 1px solid $nearWhite;
  border-radius: 24px;
}

.partner__list{
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

@media only screen and(max-width: 1000px){
    .partner__list{
grid-template-columns: repeat(2, 1fr);    
}
}

@media only screen and(max-width: 820px){
    .partner .container{
        flex-direction: column-reverse;
    }

    .partner__list{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 64px;
    }

    .partner__info{
        text-align: center;
    }
}

@media only screen and(max-width: 560px){

    .partner{
        margin-bottom: 80px;
    }

    .partner__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and(max-width: 425px){

    .partner{
        padding: 0;
    }

.partner .container{
    padding: 80px 20px;
}

    .partner__heading{
        @include common-heading(32px, 36px, $color: $nearWhite);
        margin-bottom: 16px;
    }
}

@media only screen and(max-width: 360px){
    .partner__list{
        grid-gap: 20px;
    }
}
