@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero .container {
        &::before {
          background-image: url(/img/circle@2x.png);
          background-repeat: no-repeat;
          background-size: 630px;
        }
      }

      .simple .container{
        &::before{
            background-image: url(/img/half-circle@2x.png);
            background-repeat: no-repeat;
            background-size: 500px;
        }
    }

    .partner .container {
      &::before{
          background-image: url(/img/quarter@2x.png);
          background-repeat: no-repeat;
          background-size: 550px;
      }
      }
} 
